aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow==10.0.1
psutil
pyrogram==2.0.106
pytgcalls==3.0.0.dev24
pykeyboard
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
py_yt_search
pymongo==4.6.3
httpx[http2]==0.27.2
